.{
    padding: 0px;
    margin: 0px;
}
.TopNav{
    background-color: gray;
    padding: 10px;
    margin: 0;
}
.TopNav ul{
    align-items: end;
}

.TopNav li{
    list-style: none;
    display: inline-flex;
    font-weight: bold;
    padding: 90;
    margin-left: 50px;
    background-color: darkgray;
    border-radius: 20px;
}
.TopNav li a{
    font-style: normal;
    font-size: 20px;
    color: aqua;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px;
    margin: 0px 10px 0px 10px;
}
.picsleft{
    width: 70%;
    float: left;
    background-color: rgb(208, 205, 224);
}
.picsright{
    background-color: rgb(164, 187, 187);
    width: 30%;
    float: right;
}
.uppertop{
     background-color: rgb(167, 166, 165);
}
.uppertop h1{
    text-align: center;
    color: rgb(4, 17, 202);
    padding: 5px;
    margin: 0;
   
}
.footer{
    width: 100&;
}